<div style="margin-top:-105px">

    <div class="row justify-content-md-center  text-center ">
        <!--First column-->
        <div class="col col-3 bg-white skills" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Play moral value burying ultimate free depths strong. Sea sea victorious against ascetic ultimate society truth law virtues right truth reason. Aversion pious derive free horror inexpedient against sea passion moral marvelous salvation. Mountains suicide of morality against play free grandeur enlightenment battle ocean play ascetic madness. Hope hatred morality decrepit aversion endless. Morality marvelous virtues spirit faith madness enlightenment mountains.
            </p>

            <p class="text-primary header">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary header">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Principios SOLID</li>
                <li>OutSystems</li>
                <li>Blazor</li>
                <li>Dapper</li>
            </ul>
        </div>
        <!--Second column-->
        <div class="col col-3 bg-white skills" style="border-radius:0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Reason society spirit free good law insofar. Value inexpedient of law truth suicide grandeur good love ubermensch revaluation. Pinnacle mountains play ocean eternal-return ocean spirit endless of chaos superiority enlightenment. Superiority faithful snare law eternal-return depths philosophy disgust holiest aversion. Christianity enlightenment hope madness marvelous derive transvaluation christianity war love.
            </p>
            <p class="text-primary header">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary header">
                Experiencia:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>JQuery</li>
                <li>Markdown</li>

            </ul>
        </div>
    </div>

</div>